@font-face {
  font-family: "PTSNarrow";
  src        : url("../fonts/web/ptsansnarrow.woff") format("woff"),
    url("../fonts/web/ptsansnarrow.woff2") format("woff2");
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: "PTSNarrow";
  src        : url("../fonts/web/ptsansnarrowbold.woff") format("woff"),
    url("../fonts/web/ptsansnarrowbold.woff2") format("woff2");
  font-weight: bold;
  font-style : normal;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background    : #000 url("/img/bg_photo.png") no-repeat top center;
  color         : #fff;
  font-family   : "PTSNarrow", Arial, sans-serif;
  font-weight   : 700;
  line-height   : 24px;
  font-size     : 14px;
  text-transform: uppercase;
  user-select   : none;
}

h2,
h3,
h4 {
  // margin: 0;
}

ul {
  list-style: none;
  padding   : 0;
  margin    : 0;
}

a {
  text-decoration: none;
  color          : #fff;

  &:active {
    text-decoration: none;
  }
}

.container {
  width  : 960px;
  margin : 0 auto;
  padding: 0 10px;
}

.visually-hidden {
  position: absolute;

  width   : 1px;
  height  : 1px;
  margin  : -1px;
  padding : 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.btn {
  display: block;
  width  : 140px;

  font-weight   : 700;
  font-size     : 14px;
  line-height   : 43px;
  font-family   : "PTSNarrow", Arial, sans-serif;
  text-align    : center;
  color         : #ffffff;
  text-transform: uppercase;

  background-color: #000000;

  &:hover {
    background-color: #663d15;
    cursor          : pointer;
  }

  &:active {
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

.page-header__nav {
  background-color: #000;

  .container {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    font-size      : 16px;
  }
}

.page-header__logo {
  padding-left: 20px;
}

.page-header__nav-list {
  justify-content : flex-start;
  display         : flex;
  flex-grow       : 1;
  background-color: #000;
  padding-left    : 20px;
}

.page-header__item {
  padding-right: 20px;
  padding-left : 20px;

  &:hover {
    background-color: #242424;
  }
}

.page-header__link {
  display    : flex;
  align-items: center;
  height     : 72px;
  position   : relative;

  &:active {
    &::before {
      content   : "";
      position  : absolute;
      bottom    : 0px;
      height    : 3px;
      width     : 100%;
      background: #fff;
    }
  }
}

.page-header__user-block {
  padding-left : 54px;
  padding-right: 22px;
  line-height  : 72px;
  position     : relative;

  &:hover {
    background-color: #242424;
  }

  &::before {
    content            : "";
    background-image   : url("../img/login.svg");
    background-repeat  : no-repeat;
    background-position: center;
    position           : absolute;
    opacity            : 0.3;
    top                : 50%;
    left               : 20px;
    transform          : translateY(-50%);
    width              : 20px;
    height             : 20px;
  }

  &:hover::before {
    opacity: 1;
  }
}

//  style for index > header
.index {
  .page-header__nav-wrap {
    background-color: #000;
  }

  .page-header__nav {
    display       : flex;
    flex-direction: column-reverse;
    background    : none;
  }

  .page-header__nav-list {
    padding-left: 0px;
  }

  .page-header__logo {
    padding-top   : 60px;
    padding-bottom: 35px;
    padding-left  : 0px;
    text-align    : center;
  }
}

.index-content {}

.advantages {
  padding-top   : 20px;
  padding-bottom: 65px;

  &__list {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-between;
  }

  &__item {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    width         : 300px;
  }

  &__item-title {
    position: relative;

    margin        : 0;
    padding-top   : 7px;
    padding-bottom: 45px;

    font-size  : 30px;
    line-height: 42px;

    &::after {
      content         : "";
      position        : absolute;
      transform       : translateX(-50%) rotate(45deg);
      left            : 50%;
      top             : 60px;
      width           : 20px;
      height          : 20px;
      border-radius   : 10%;
      background-color: #fff;
    }
  }

  &__item-text {
    text-align : center;
    line-height: 24px;
  }
}

.index-content-wrap {
  display            : flex;
  justify-content    : space-between;
  margin-bottom      : 35px;
  padding-right      : 80px;
  padding-left       : 80px;
  // padding-top     : 55px;
  color              : #000;
  background-color   : #f8f5f2;

  h2 {
    margin        : 0;
    padding-top   : 15px;
    padding-bottom: 10px;

    font-size  : 30px;
    line-height: 42px;
  }

  .flex-style {
    display       : flex;
    flex-direction: column;
    max-width     : 50%;
    padding-top   : 30px;
  }
}

.index-content-wrap:last-of-type {
  margin-bottom: 65px;
  margin-top   : 36px;

  h2 {
    padding-bottom: 4px;
  }
}

.news {
  // padding-top: 30px;

  &__list {}

  &__btn {
    margin-top   : 10px;
    margin-bottom: 50px;
  }

  .btn {
    margin-top   : 20px;
    margin-bottom: 50px;
    line-height  : 44px;
  }
}

.news-item {
  padding-top   : 10px;
  padding-bottom: 10px;
  padding-right : 35px;

  &__text {
    margin: 0;

    font-size  : 14px;
    line-height: 24px;
  }

  &__date {

    font-size     : 14px;
    line-height   : 24px;
    text-transform: none;
  }
}

.gallery {
  width         : 300px;
  // padding-top: 30px;

  &__content {
    width     : 300px;
    height    : 178px;
    margin    : 0;
    margin-top: 12px;
    border    : 7px solid #fff;
  }

  &__btn-wrap {
    display        : flex;
    justify-content: space-between;
  }

  .btn {
    margin-top   : 38px;
    margin-bottom: 50px;
    line-height  : 44px;
  }
}

.contacts {

  &__text {
    width           : 35%;
    line-height     : 24px;
    font-size       : 14px;
    // padding-top  : -5px;
    // margin-top: 10px;

    &:not(:last-of-type) {
      margin-bottom: 7px;
      width        : 75%;
    }
  }
}

.contacts-block {
  &__btn {
    margin-top     : 9px;
    display        : flex;
    width          : 300px;
    justify-content: space-between;
  }
}

.appointment {
  width        : 300px;
  // margin-top: -1px;

  &__text-info {
    line-height  : 24px;
    margin-bottom: 13px;
  }

  &__form {
    width          : 300px;
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-between;

    input:focus {
      border : 2px #663d15 solid;
      outline: none;
    }
  }

  &__form-wrap {
    display       : flex;
    width         : 140px;
    flex-direction: column;
    padding-bottom: 10px;

    input {
      height      : 43px;
      padding-left: 15px;
      border      : 2px solid #000;
    }

    label {
      padding-left  : 15px;
      padding-bottom: 6px;
    }
  }
}

.btn-send {
  width        : 100%;
  margin-top   : 10px;
  border       : none;
  height       : 43px;
  margin-bottom: 50px;
}

// footer
.page-footer {
  padding-top     : 60px;
  padding-bottom  : 40px;
  background-color: #232323;

  .btn:hover {
    color           : #000;
    background-color: #e5e5e5;
  }
}

// footer
.page-footer .container {
  display        : flex;
  justify-content: space-between;
}

.page-footer {

  &__contacts {
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    margin         : 0;
    flex           : 1;
    height         : 88px;
  }

  &__social {
    display       : flex;
    flex-direction: column;
    align-items   : center;
  }

  &__copyright {
    flex          : 1;
    display       : flex;
    flex-direction: column;
    align-items   : flex-end;
  }
}

.page-footer__contacts p {
  margin: 0;
}

.page-footer__social-list {
  display        : flex;
  justify-content: space-between;
  width          : 140px;
  margin-top     : 13px;
}

.page-footer__social-item {
  .link-wrap {
    display         : block;
    width           : 43px;
    height          : 43px;
    background-color: #000;
    position        : relative;

    &::before {
      content            : "";
      position           : absolute;
      // background     : #000 url("/img/icon-vk.svg") no-repeat center center;
      height             : inherit;
      width              : inherit;
      background-image   : url("/img/icon-vk.svg");
      background-repeat  : no-repeat;
      background-position: center center;
    }
  }
}

.page-footer__social-item--fb .link-wrap::before {
  background-image: url("/img/icon-fb.svg");
}

.page-footer__social-item--inst .link-wrap::before {
  background-image: url("/img/icon-inst.svg");
}

.page-footer__copyright .copyright-info {
  padding-bottom: 13px;
  margin-right  : 30px;
}

// login-popup

.popup-login {
  background-color: #fff;
  width           : 460px;
  position        : fixed;
  top             : 50%;
  left            : 50%;
  padding-top     : 40px;
  padding-right   : 80px;
  padding-bottom  : 50px;
  padding-left    : 80px;
  transform       : translate(-50%, -50%);
  display         : none;
}

.popup-login__wrap {
  position: relative;
  color   : #000;

  .title {
    margin       : 0;
    margin-bottom: 20px;
    padding-top  : 5px;
  }

  .login-text {
    margin       : 0;
    margin-bottom: 14px;
  }
}

.popup-login input {
  border        : 2px solid #000;
  width         : 100%;
  margin-bottom : 14px;
  height        : 43px;
  padding-left  : 15px;
  font-size     : 14px;
  font-weight   : 700;
  text-transform: uppercase;

  &::placeholder {
    color: #000;
  }
}

.word-login,
.word-password {
  position: relative;

  &::before {
    content   : "";
    position  : absolute;
    top       : 5px;
    right     : 15px;
    width     : 13px;
    height    : 13px;
    background: url("/img/icon-login-popup.svg") no-repeat center;
  }
}

.word-password::before {
  background-image: url("/img/icon-password-popup.svg");
}

.popup-login__wrap-list {
  display        : flex;
  justify-content: space-between;
  padding-bottom : 5px;
}

.popup-login__wrap-item {
  label {
    position       : relative;
    padding-left   : 32px;
    display        : flex;
    justify-content: flex-start;
    padding-left   : 32px;

    font-size  : 14px;
    line-height: 18px;

    cursor: pointer;
  }

  input {
    display: none;
  }

  input:checked+.checkbox-indicator::before,
  input:checked+.checkbox-indicator::after {
    display: block;
  }

  .checkbox-indicator {
    position: absolute;
    width   : 20px;
    left    : 0;
    top     : 0;
    height  : 20px;
    border  : 2px solid #000;
  }

  .checkbox-indicator::before {
    content   : "";
    position  : absolute;
    background: url("/img/icon-close.svg") no-repeat center;
    bottom    : 2px;
    left      : 2px;
    width     : 12px;
    height    : 12px;
    filter    : brightness(0.1);
    display   : none;
  }
}

.link-forget {
  color          : inherit;
  text-decoration: none;
  border-bottom  : 1px solid #000;
}

.popup-user__btn {
  margin-top   : 10px;
  margin-bottom: 10px;
  width        : 100%;
  border       : none;
}

.popup-login .button-close {
  position        : absolute;
  width           : 19px;
  height          : 19px;
  right           : -110px;
  top             : -40px;
  background      : url("/img/icon-close.svg") no-repeat center;
  padding         : 0;
  border          : none;
  background-color: transparent;
  cursor          : pointer;
}

// style page-content
.page-content {
  padding-top     : 50px;
  background-color: #fff;

  .container {
    // padding-top: 45px;
    color: #000;

    a {
      color: inherit;
    }
  }
}

.page-content__header {

  .title {
    margin       : 0;
    font-size    : 30px;
    line-height  : 42px;
    // padding: 15px 0;
    margin-bottom: 15px;
  }
}

.breadcrumbs {
  display      : flex;
  margin-bottom: 45px;

  &-item {
    // border: 1px solid green;
    position: relative;

    a {
      font-size  : 14px;
      line-height: 20px;
    }

    &:not(:first-of-type) {
      margin-left: 40px;
    }

    &:last-of-type {
      color: #aba9a7;
    }

    &:not(:last-of-type)::before {
      content         : "";
      position        : absolute;
      width           : 7px;
      height          : 7px;
      top             : 50%;
      right           : -25px;
      transform       : rotate(45deg) translate(-50%, -50%);
      background-color: #000;
    }
  }
}

.page-content__wrap {
  // padding-top       : 40px;
  // border         : 2px solid red;
  display        : flex;
  justify-content: space-between;
}

.sidebar {
  flex-basis   : 25%;
  // border    : 2px dashed yellow;

  .filter {
    // border: 2px dashed green;
  }
}

.filter__group {
  // background-color: red;
  border       : none;
  margin       : 0;
  padding      : 0;
  margin-bottom: 30px;

  .title {
    // margin: 0;
    margin-bottom: 26px;
    line-height  : 30px;
    font-size    : 24px;
  }
}

.filter__group--radio {
  margin-top: 35px;
  .title {
    // padding-bottom: 0px;
  }
}

.filter__wrap {
  position: relative;
  width: 150px;

  margin-bottom   : 13px;
  // padding-right : 43px;
  // border: 2px dashed green;
}

.filter__group--checkbox-label,
.filter__group--radio-label {
  position    : relative;
  padding-left: 45px;
  padding-right: 40px;

  font-size  : 14px;
  line-height: 18px;


  cursor: pointer;

  &::before {
    content : "";
    position: absolute;
    left    : 0;
    top     : 0;
    width   : 20px;
    height  : 20px;
    border  : 2px solid #000;
  }

  span::before,
  span::after {
    content         : "";
    display         : none;
    position        : absolute;
    left            : 9px;
    top             : 4px;
    background-color: #000;
    width           : 2px;
    height          : 12px;
    transform       : rotate(135deg);
  }

  span::after {
    transform: rotate(-135deg);
  }
}

.filter__group--radio-label {
  &::before {
    border-radius: 50%;
  }
}

.filter__group--checkbox-input:checked+label,
.filter__group--checkbox-input:checked+label,
.filter__group--radio-input:checked+label,
.filter__group--radio-input:checked+label {

  span::before,
  span::after {
    display: block;
  }
}


.goods {
  flex-grow       : 1;
  // flex-basis: 75%;
  // border       : 2px dashed yellow;
}